.favicon{
  width: 5rem;
}

.tamano-banner{
  height: 13rem;
}

/* fill='%23000'%3e%3cpath 000 para color negro */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bi:hover{
  filter: drop-shadow(0 0 0.75rem rgb(54, 149, 228));
  -webkit-filter: drop-shadow(0 0 0.75rem rgb(72, 104, 194));
}

/* mis estilos */

body:has(option[value="dark"]:checked),
body:has(option[value="dark"]:checked) img,
body:has(option[value="dark"]:checked) nav,
body:has(option[value="dark"]:checked) footer
{
  background-color: #000;
  filter:invert(1);
  -webkit-filter:invert(1);
}

@media screen and (max-width: 500px){
  .tamano-banner{
    height: 5rem;
  }
}